default-lease-time 600;
max-lease-time 7200;
ddns-update-style none;
authoritative;
log-facility local7;
subnet 192.168.2.0 netmask 255.255.255.0 {
  range 192.168.2.1 192.168.2.100;
  option domain-name-servers {{ dns_nameservers | join(', ') }};
  option routers 192.168.2.1;
  option broadcast-address 192.168.2.255;
}
host magister {
  hardware ethernet {{ mac_magister }};
  fixed-address 192.168.2.100;
}
host scribe-1 {
  hardware ethernet {{ mac_scribe_1 }};
  fixed-address 192.168.2.101;
}
host scribe-2 {
  hardware ethernet {{ mac_scribe_2 }};
  fixed-address 192.168.2.102;
}
host scribe-3 {
  hardware ethernet {{ mac_scribe_3 }};
  fixed-address 192.168.2.103;
}
