# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto {{ in_interface }}
iface {{ in_interface }} inet dhcp
    dns-nameservers {{ dns_nameservers | join(' ') }}

auto {{ out_interface }}
iface {{ out_interface }} inet static
    address 192.168.2.1
    netmask 255.255.255.0
    dns-nameservers {{ dns_nameservers | join(' ') }}
